<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>Design Quadrro <%= settings.team_name %> no Slack.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- source : https://github.com/seapy/slack_invite_automation_sinatra -->
</head>
<body>
  <%= yield %>
  <% Output: <img src="http://a4.res.cloudinary.com/demo/image/upload/sample.jpg" /> %>
</body>
</html>
